{% extends 'GamePortal/base.html' %}

{% load static %}

{% block content %}

            <section class="youplay-banner banner-top youplay-banner-parallax full">
                <div class="image" data-speed="0.4">
                    <img src="{% static 'images/dark/banner-bg.jpg' %}" alt="" class="jarallax-img">
                </div>
                <div class="info">
                    <div>
                        <div class="container">
                            <div class="youplay-login">
                                <div class="youplay-form text-center">
                                    <h3 class="text-uppercase">Profile is active</h3><br>
                                    <h4>Congratulations!</h4>
                                    <h4>You are now one of us... Doomed and honored.</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /Banner -->

{% endblock content %}